<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <%= link_to authenticated_root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
    <div class="sidebar-brand-text mx-3">Vigillianger <sup>2</sup></div>
  <% end %>

  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Ustawienia
  </div>

  <li class="nav-item">
    <%= link_to melanges_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Wydarzenia</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to "#", class: "nav-link" do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Konta</span>
    <% end %>
  </li>

  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Listy
  </div>

  <% if current_melange.product_categories.empty? %>
    <li class="nav-item">
      <%= link_to new_melange_product_category_path(current_melange), class: "nav-link" do %>
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Dodaj kategorię</span>
      <% end %>
    </li>
  <% end %>

  <% current_melange.product_categories.each do |product_category| %>
    <li class="nav-item">
      <%= link_to product_category_path(product_category), class: "nav-link" do %>
        <i class="fas fa-fw fa-chart-area"></i>
        <span><%= product_category.name %></span>
      <% end %>
    </li>
  <% end %>

  <hr class="sidebar-divider d-md-block">

  <li class="nav-item logout-button">
    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link border-left-danger" do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Wyloguj</span>
    <% end %>
  </li>
</ul>
