<!DOCTYPE html>
<html>
<head>
  <title>Valczykanger</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
</head>

<body>
<div id="wrapper">
  <%= render "shared/sidebar" %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%= render "shared/notice_bar" %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>

    <footer class="sticky-footer bg-white">
      <%= render "shared/footer" %>
    </footer>
  </div>
</div>
</body>
</html>
