<!DOCTYPE html>
<html>
<head>
  <title>Valczykanger</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <%= stylesheet_pack_tag "application", 'data-turbolinks-track': "reload" %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
